node_modules/
**/node_modules/
.env
**/.env
build/
**/build/
dist/
**/dist/
package-lock.json
**/package-lock.json
.vscode/
**/.vscode/
.DS_Store
**/.DS_Store
.superpowers/
**/.superpowers/
Nutrient-Presentation-Demo.mp4
~$Nutrient_Slides.pptx
